
@{
    ViewData["Title"] = "Index";
}

<h1>登入</h1>
<br />
<form method="post">
    <label>帳號：</label>
    <input name="acc" type="text" />
    <br />
    <br />
    <label>密碼：</label>
    <input name="pass" type="password" />
    <br />
    <input type="submit" value="登入" />
</form>

管理員：管理會員
<br />
帳號：1111
<br />
密碼：1234
<br />
買家：查詢商品
<br />
帳號：s1111699
<br />
密碼：1234567


